In [1]:
## VacationPy

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [3]:
cities_df = pd.read_csv("../Resources/WeatherPyCities.csv")
cities_df

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.1203,-134.9692,77.40,72,89,4.81,PF,1611923653
1,1,Busselton,-33.6500,115.3333,71.01,70,0,1.99,AU,1611923653
2,2,San Patricio,28.0170,-97.5169,51.80,87,1,6.11,US,1611923655
3,3,Yellowknife,62.4560,-114.3525,-23.80,76,1,6.91,CA,1611923655
4,4,Bredasdorp,-34.5322,20.0403,78.01,53,0,1.01,ZA,1611923656
...,...,...,...,...,...,...,...,...,...,...
549,549,Taos,36.4072,-105.5731,24.01,79,1,6.91,US,1611924080
550,550,Deputatsky,69.3000,139.9000,-32.67,86,100,1.61,RU,1611924080
551,551,Khon Kaen,16.5000,102.0833,74.62,48,76,2.01,TH,1611924081
552,552,Kirakira,-10.4544,161.9205,80.55,84,100,15.82,SB,1611924082
553,553,Marawi,7.9986,124.2928,80.01,83,100,8.01,PH,1611924082

In [4]:
del cities_df["Unnamed: 0"]
cities_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.1203,-134.9692,77.40,72,89,4.81,PF,1611923653
1,Busselton,-33.6500,115.3333,71.01,70,0,1.99,AU,1611923653
2,San Patricio,28.0170,-97.5169,51.80,87,1,6.11,US,1611923655
3,Yellowknife,62.4560,-114.3525,-23.80,76,1,6.91,CA,1611923655
4,Bredasdorp,-34.5322,20.0403,78.01,53,0,1.01,ZA,1611923656
...,...,...,...,...,...,...,...,...,...
549,Taos,36.4072,-105.5731,24.01,79,1,6.91,US,1611924080
550,Deputatsky,69.3000,139.9000,-32.67,86,100,1.61,RU,1611924080
551,Khon Kaen,16.5000,102.0833,74.62,48,76,2.01,TH,1611924081
552,Kirakira,-10.4544,161.9205,80.55,84,100,15.82,SB,1611924082
553,Marawi,7.9986,124.2928,80.01,83,100,8.01,PH,1611924082

In [5]:
cities_df.count()

City               554
Latitude           554
Longitude          554
Max Temperature    554
Humidity           554
Cloudiness         554
Wind Speed         554
Country            549
Date               554
dtype: int64

In [6]:
cities_df.dropna(subset= ["Country"], inplace=True)

In [7]:
cities_df.count()

City               549
Latitude           549
Longitude          549
Max Temperature    549
Humidity           549
Cloudiness         549
Wind Speed         549
Country            549
Date               549
dtype: int64

In [8]:
## Humidity HeatMap
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use lat and lng as locations and humidity as weight
locations = cities_df[["Latitude", "Longitude"]].astype(float)
humidity = cities_df["Humidity"].astype(float)

# Add heatmap layer to map
figure = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights= humidity, dissipating=False, max_intensity=100, point_radius=1)
figure.add_layer(heat_layer)
plt.savefig("../Figures/Heat_Map.png")

In [9]:
figure

Figure(layout=FigureLayout(height='420px'))

In [27]:
## Weather Criteria DataFrame
ideal_conditions_df = cities_df.loc[(cities_df["Max Temperature"]>80)&(cities_df["Max Temperature"]<100)&(cities_df["Humidity"]<20)&(cities_df["Cloudiness"]==0)&(cities_df["Wind Speed"]<20)]
ideal_conditions_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
24,Kidal,18.4411,1.4078,83.28,13,0,15.23,ML,1611923672
35,Riyadh,24.6877,46.7219,82.40,16,0,9.22,SA,1611923679
204,Perth,-31.9333,115.8333,84.20,17,0,10.36,AU,1611923659
299,Wad Medani,14.4012,33.5199,93.38,9,0,19.44,SD,1611923900
313,Tambacounda,13.7539,-13.7586,93.20,10,0,11.50,SN,1611923909
330,Sapouy,11.5544,-1.7736,96.12,9,0,11.97,BF,1611923921
416,Adrar,20.5022,-10.0711,82.08,15,0,16.53,MR,1611923988
419,BoussÃ©,12.6606,-1.8922,91.40,9,0,12.66,BF,1611923989
420,Tessalit,20.1986,1.0114,83.17,12,0,15.48,ML,1611923990
426,Ayorou,14.7308,0.9174,92.14,10,0,17.58,NE,1611923994
487,Ndioum,16.5129,-14.6471,89.60,15,0,4.61,SN,1611924038
509,Taoudenni,22.6783,-3.9836,86.77,13,0,10.00,ML,1611924053
512,Kindia,10.0569,-12.8658,94.42,16,0,4.25,GN,1611924055
548,Colesberg,-30.7200,25.0972,83.89,18,0,6.31,ZA,1611924079

In [41]:
## Hotel Map
# Store into variable named hotel_df
hotel_df = ideal_conditions_df[["City", "Country", "Latitude", "Longitude", "Max Temperature"]]

# Add "Hotel Name" column
hotel_df["Hotel Name"] = ""

# Set parameters to search for hotels within 5000 metres
params = {"type" : "hotel", "keyword" : "hotel", "radius" : 5000, "key" : g_key}

# Set base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Loop through DataFrame and retrieve data from API
for index, row in hotel_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    city_name = row["City"]
    params["location"] = f"{latitude},{longitude}"

    print(f"Retrieving results for index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()

    results = response["results"]

    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        print("No hotel within 5000 metres.")

Retrieving results for index 24: Kidal.
No hotel within 5000 metres.
Retrieving results for index 35: Riyadh.
Closest hotel in Riyadh is voco Riyadh.
Retrieving results for index 204: Perth.
Closest hotel in Perth is DoubleTree by Hilton Perth Northbridge.
Retrieving results for index 299: Wad Medani.
Closest hotel in Wad Medani is Imperial Wad Medani Hotel.
Retrieving results for index 313: Tambacounda.
No hotel within 5000 metres.
Retrieving results for index 330: Sapouy.
Closest hotel in Sapouy is Auberge St Louis.
Retrieving results for index 416: Adrar.
No hotel within 5000 metres.
Retrieving results for index 419: BoussÃ©.
No hotel within 5000 metres.
Retrieving results for index 420: Tessalit.
No hotel within 5000 metres.
Retrieving results for index 426: Ayorou.
Closest hotel in Ayorou is Hotel Amenokal.
Retrieving results for index 487: Ndioum.
Closest hotel in Ndioum is Mbathior HÃ´tel.
Retrieving results for index 509: Taoudenni.
No hotel within 5000 metres.
Retrieving results for index 512: Kindia.
Closest hotel in Kindia is Hotel 3 avril.
Retrieving results for index 548: Colesberg.
Closest hotel in Colesberg is Colesberg Lodge.

In [42]:
# Display figure
hotel_df

,City,Country,Latitude,Longitude,Max Temperature,Hotel Name
24,Kidal,ML,18.4411,1.4078,83.28,
35,Riyadh,SA,24.6877,46.7219,82.40,voco Riyadh
204,Perth,AU,-31.9333,115.8333,84.20,DoubleTree by Hilton Perth Northbridge
299,Wad Medani,SD,14.4012,33.5199,93.38,Imperial Wad Medani Hotel
313,Tambacounda,SN,13.7539,-13.7586,93.20,
330,Sapouy,BF,11.5544,-1.7736,96.12,Auberge St Louis
416,Adrar,MR,20.5022,-10.0711,82.08,
419,BoussÃ©,BF,12.6606,-1.8922,91.40,
420,Tessalit,ML,20.1986,1.0114,83.17,
426,Ayorou,NE,14.7308,0.9174,92.14,Hotel Amenokal
487,Ndioum,SN,16.5129,-14.6471,89.60,Mbathior HÃ´tel
509,Taoudenni,ML,22.6783,-3.9836,86.77,
512,Kindia,GN,10.0569,-12.8658,94.42,Hotel 3 avril
548,Colesberg,ZA,-30.7200,25.0972,83.89,Colesberg Lodge

In [43]:

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_df["Latitude"] = hotel_df["Latitude"].astype(float)
hotel_df["Longitude"] = hotel_df["Longitude"].astype(float)
locations = hotel_df[["Latitude", "Longitude"]]

In [44]:
locations.dtypes

Latitude     float64
Longitude    float64
dtype: object

In [45]:
hotel_markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
figure = gmaps.figure()
figure.add_layer(hotel_markers)
figure.add_layer(heat_layer)
plt.savefig("../Figures/Hotel_Map")

In [46]:
figure

Figure(layout=FigureLayout(height='420px'))